{% extends 'base.html' %}

{% block title %}
Account list view
{% endblock title %}

{% block content %}
    <main>
        <h1>Account list view</h1>
        <table class="table_display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in account_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.number }}</td>
                    <td>{{ item.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock content %}
