{% extends 'base.html' %}

{% block title %}
Category list view
{% endblock title %}

{% block content %}
    <main>
        <h1>Expense category list view</h1>
        <table class="table_display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in category_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock content %}
