h1 {
    color: #00bbf9;
}

.table_display tbody>tr:nth-child(odd) {
    background-color: #dec731;
}

.table_display tbody {
    color: #00bbf9;
}

.table_display th {
    border-bottom: 1px solid black;
}

.table_display td{
    padding: 8px 15px;
}

.table_display th{
    padding: 5px 10px;
}

body {
    background-color: #fee440;
    padding-left: 35px;
}

h3 {
    color: #00bbf9;
}

a:hover {
    color: #00f5d4
}

li {
    padding: 2px;
}

nav {
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
}
